<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Users</title>
</head>
<body>
<div>

    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>IQ</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td><a th:href="@{/{id}(id=${user.id})}" th:utext="${user.name}"></a></td>
            <td th:utext="${user.age}"></td>
            <td th:utext="${user.iq}"></td>
        </tr>
    </table>

    <a th:href="@{/logout}"> Logout </a>
</div>
</body>
</html>